.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nb.html
**.zip
**.txt
**.TXT
**.pkl
**.csv
**.tsv
**.xlsx
**.xls
**.rar
**.json
DreamBankreports.txt
imdb_merged_movies.tsv
trabajoFinal/.ipynb_checkpoints/*
